---
layout: page
title: n0hats Blog
subtitle: My fortress of solitude.  This is where my ramblings occur
use-site-title: true
tags: [blog, main, n0hats]

---

<div role="main" class="container main-content">
  Hello and welcome to my blog! I'm Joshua Smith, an Information Security professional with a passion for all things cyber. With over a decade of experience in the dynamic realm of Information Security, I've honed my expertise in various domains, including Cyber Forensics, Penetration Testing, Security Engineering, and Cyber Assessments.

My journey in this exciting field began more than 10 years ago, and since then, I've delved deep into the intricate world of digital security. My extensive background encompasses offensive and defensive Penetration Testing, where I've skillfully wielded tools such as Nmap, Metasploit Framework, Burp Suite Pro, and PowerShell Empire. Alongside these, I've mastered frameworks and methodologies like OWASP, PTES, and OSSTMM, equipping me to uncover vulnerabilities and protect systems.

Currently, my time is dedicated to enhancing my skillset on platforms like Hack the Box and TryHackMe. These environments allow me to constantly evolve and stay at the forefront of security practices. I believe in the power of hands-on experience, and I'm committed to learning and mastering new tools and techniques.

I've had the privilege of contributing to the security community in various capacities. As a Security Content Engineer at DEVO Technology, Inc., I researched exploits, automated alert creation, and developed efficient tools to enhance the team's capabilities. I've also served as a Senior Security Consultant at Syntasa Corporation, where I not only improved organizational security but also shared my insights with non-technical stakeholders.

Container security is another area where I've made an impact. As a Container Security Specialist at Ingenium Consulting, LLC, I played a pivotal role in launching enterprise-wide container solutions, collaborating with external teams, and mentoring junior members to ensure a robust security posture.

In addition to my professional journey, I hold a Bachelor's degree in Information Technology from George Mason University. My passion for security has driven me to continuously explore new languages, frameworks, and technologies, including Python, Bash, Ruby on Rails, and more.

Join me on this blog as I share insights, tips, and experiences from my multifaceted career. Let's embark on a journey to navigate the ever-changing landscape of Information Security together. Stay tuned for exciting content that will empower you to safeguard digital landscapes effectively.
</div>

<div class="posts-list">
  {% for post in paginator.posts %}
  <article class="post-preview">
    <a href="{{ post.url | relative_url }}">
	  <h2 class="post-title">{{ post.title }}</h2>

	  {% if post.subtitle %}
	  <h3 class="post-subtitle">
	    {{ post.subtitle }}
	  </h3>
	  {% endif %}
    </a>

    <p class="post-meta">
      Posted on {{ post.date | date: site.date_format }}
    </p>

    <div class="post-entry-container">
      {% if post.image %}
      <div class="post-image">
        <a href="{{ post.url | relative_url }}">
          <img src="{{ post.image | relative_url }}">
        </a>
      </div>
      {% endif %}
      <div class="post-entry">
        {{ post.excerpt | strip_html | xml_escape | truncatewords: site.excerpt_length }}
        {% assign excerpt_word_count = post.excerpt | number_of_words %}
        {% if post.content != post.excerpt or excerpt_word_count > site.excerpt_length %}
          <a href="{{ post.url | relative_url }}" class="post-read-more">[Read&nbsp;More]</a>
        {% endif %}
      </div>
    </div>

    {% if post.tags.size > 0 %}
    <div class="blog-tags">
      Tags:
      {% if site.link-tags %}
      {% for tag in post.tags %}
      <a href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
      {% endfor %}
      {% else %}
        {{ post.tags | join: ", " }}
      {% endif %}
    </div>
    {% endif %}

   </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pager main-pager">
  {% if paginator.previous_page %}
  <li class="previous">
    <a href="{{ paginator.previous_page_path | relative_url }}">&larr; Newer Posts</a>
  </li>
  {% endif %}
  {% if paginator.next_page %}
  <li class="next">
    <a href="{{ paginator.next_page_path | relative_url }}">Older Posts &rarr;</a>
  </li>
  {% endif %}
</ul>
{% endif %}